<component name="ArtifactManager">
  <artifact type="war" name="SpringHibernateBBS:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringHibernateBBS.war">
      <element id="artifact" artifact-name="SpringHibernateBBS:war exploded" />
    </root>
  </artifact>
</component>